/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    
  background-image: url(./images/bodybackground_1.jpg);
  background-size: cover;
  background-position: top right;
  margin: 0;
  font-family:'Vast Shadow', cursive;
  font-weight: 20;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header {
    background: #0000CD;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.MouseHDL {  
    float: left;
    padding: 10px 0;
}
  
nav {
    float: right;
}
    
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list{
    display: inline-block;
    margin-left: 20px;
    padding: 25px 25px 0 25px;
    
    position: relative;  
}

nav a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: palevioletred;
}

.highlight::before {
    content: '';
    display: block;
    height: 5px;
    background-color: paleturquoise;  
    
    position: absolute;
    top:0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

h1 {
  font-size: 60 px;
  line-height: 1;
}
h2 {
  font-size: 30 px;
}
h1, h2 {
  font-family: 'Barrio', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Home Page
------------------------------------*/

.container2 {
    display: grid;
    grid-gap: 3px;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:200px 200px 200px;
}

.Text1{
    grid-column-start:repeat(2,1fr);
    grid-column-end:40px 200px 40px;
}

.Image1{}

.Text2{}

.Image2{}

.Text3{}

.Image3{}