
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light



/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
    
  background-image: url(./images/bodybackground_1.jpg);
  background-size: cover;
  background-position: top right;
  margin: 5;

  font-family:'Share Tech', sans-serif;
  font-size: 25px;
  font-weight: 20;
 
}

.grid-conatainer{display: grid;
    
}
.container{
  display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

header {
    background: #0000CD;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.MouseHDL {  
    float: left;
    padding: 10px 0;
}
  
nav {
    float: right;
}
    
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list{
    display: inline-block;
    margin-left: 20px;
    padding: 25px 25px 0 25px;
    
    position: relative;  
}

nav a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: palevioletred;
}

.highlight::before {
    content: '';
    display: block;
    height: 5px;
    background-color: paleturquoise;  
    
    position: absolute;
    top:0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

h1 {
  font-size: 15px;
  font-family: 'Audiowide', cursive;
  line-height: 1;
}
h2 {
  font-size: 25px;
  line-height: 100px;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 300; 
  margin:0;
}
.section{
  display: flex;
  justify-content: center;
}
.video{
  padding: 20px;
}
.content-wrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}


/* Home Page
------------------------------------*/
.home {
  background-image: url(./images/background_1.jpg);
  background-size: cover;
  background-position: top right;
  backface-visibility: visible;  
  margin: 169px;
  margin-bottom: 20px;
  height:350px;
}
.home a {
  color: #2F3061;
}
.home .btn {
  color: #F7FFF7;
  background: #FFC0CB;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.home .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.home-item {
  overflow: hidden;
}
.home-item h3 {
  margin-top: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0000CD;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 25px 15px;
  height: 250px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.drop-list{
    display: inline-block;
    position: relative;
    padding: 25px 0 0 0;\
}
/* Contact Info
------------------------------------*/
footer {
  background: #FFC0CB;
  color: #7777;  
  text-align: center;
  padding: 10 px

}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

.parent{
    width: 600px;
    height:400px;
    border: 5px solid #0000CD;
}

/* About Me page
------------------------------------*/
.float-img{
    float:left;
    margin-right: 10px;
    margin-bottom: 0px;
    border: solid #FF69B4 5px;
    padding: 0px;
    border-radius: 25px;
    padding: 0px; 
    width: 350px;
    height: auto;  
}

.float-img1{
    float:right;
    margin-right: 10px;
    margin-bottom: 0px;
    border: solid #FF69B4 5px;
    margin-top: 20;
    padding: 0px;
    border-radius: 25px;
    padding: 0px; 
    width: 400px;
    height: auto;  
}

.float-img2{
    float:left;
    margin-right: 10px;
    margin-bottom: 0px;
    border: solid #FF69B4 5px;
    margin-top: 20;
    padding: 0px;
    border-radius: 25px;
    padding: 0px; 
    width: 300px;
    height: auto;  
}


.float-img3{
    float:right;
    margin-right: 10px;
    margin-bottom: 0px;
    border: solid #A1C6D7  5px;
    margin-top: 20;
    padding: 0px;
    border-radius: 30px;
    padding: 0px; 
    width: 300px;
    height: auto;  
}

.float-img4{
    float:right;
    margin-right: 10px;
    margin-bottom: 0px;
    border: solid #A1C6D7  5px;
    margin-top: 20;
    padding: 0px;
    border-radius: 30px;
    padding: 0px; 
    width: 300px;
    height: auto;  
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto ;
  grid-gap: 10px;
  background-color: #A1C6D7 ;
  padding: 10px;
  border: 3px solid #0000CD;
  border-radius: 8px;
}

.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

p.round2 {
  border: 2px solid red;
  border-radius: 8px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #FF69B4 ;
  padding: 10px;
  border: 3px solid #0000CD;
  border-radius: 8px;
}

.grid-container3 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

p.round3 {
  border: 2px solid red;
  border-radius: 8px;
}

/* UX-Design
------------------------------------*/
.float-img5{
    float:right;
    margin-right: 10px;
    margin-bottom: 0px;
    border: solid #A1C6D7 5px;
    margin-top: 20;
    padding: 0px;
    border-radius: 30px;
    padding: 0px; 
    width: 300px;
    height: auto;  
}
.grid-container4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #77777;
  padding: 5px;
  border: 5px solid #0000CD;
  border-radius: 8px;
}

.grid-container4 > div {
  background-color: none;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

p.round4 {
  border: 2px solid red;
  border-radius: 8px;
}


/* Inspiration Image
------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


/* Footer hyperlinks visual */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

